@import url('https://fonts.googleapis.com/css?family=Duru+Sans|Fira+Code|Roboto+Mono|Space+Mono&display=swap');

body {
    box-sizing: border-box;
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
    color: #676869;
}


h1 {
    color: #48A2B3;
    text-align: center;
    font-size: 3em;
}

input {
    max-width: 300px;
}

input[type=file] {
    color: black;
    background: #F9F9F9;
    border: solid 1px black;
    border-radius: 2px;
    max-width: 300px;
}

#container {
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75vw;
}
#banner, #one {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

#login {
    width: minmax(300px, 0px)
}

#logo{
    margin: 0px auto;
}

#selfie-jpeg{
    height: 25vh;
    display: none;;
}
#selfie-png{
    width: 50%;
    display: none;;
}
.alert {
    background: lightpink;
    border: 3px crimson solid;
    color: darkred;
    padding: 10px;
    border-radius: 5px;
    margin: 3px 0px;
    position: relative;
    width: 75%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    flex-wrap: wrap;
    visibility: hidden;
}
.alert h2 {
    margin-bottom: 0px;
}

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
	align-items: center;
}

    .buttons a {
        width: 250px;
    }

    a:-webkit-any-link {
        text-decoration: none;
    }

    .login-button {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }


.btn {
    width: 250px;
    background: #48A2B3;
    padding: 3px;
    margin: 5px;
    color: white;
    font: inherit;
    font-family: 'Fira Code', 'Courier New', Courier, monospace;
    text-decoration: none;
    border-radius: 3px;
    align-self: center;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px
}

    .col label, input {
        width: 250px;
    }

.not-found {
    height: 75vh;
    width: 100vw;
    background: no-repeat center/80% url('/images/404.png');
}